$align-self: (
  'asa': (
    align-self: auto
  ),
  'ass': (
    align-self: flex-start
  ),
  'asc': (
    align-self: center
  ),
  'ase': (
    align-self: flex-end
  ),
  'asstr': (
    align-self: stretch
  )
);
