$align-items: (
  'ais': (
    align-items: flex-start
  ),
  'aic': (
    align-items: center
  ),
  'aie': (
    align-items: flex-end
  ),
  'aib': (
    align-items: baseline
  ),
  'aistr': (
    align-items: stretch
  )
);
