$sizing: (
  'x': (
    width: 100%
  ),
  'y': (
    height: 100%
  ),
  'w5': (
    width: 5%
  ),
  'w10': (
    width: 10%
  ),
  'w15': (
    width: 15%
  ),
  'w20': (
    width: 20%
  ),
  'w25': (
    width: 25%
  ),
  'w30': (
    width: 30%
  ),
  'w35': (
    width: 35%
  ),
  'w40': (
    width: 40%
  ),
  'w45': (
    width: 45%
  ),
  'w50': (
    width: 50%
  ),
  'w55': (
    width: 55%
  ),
  'w60': (
    width: 60%
  ),
  'w65': (
    width: 65%
  ),
  'w70': (
    width: 70%
  ),
  'w75': (
    width: 75%
  ),
  'w80': (
    width: 80%
  ),
  'w85': (
    width: 85%
  ),
  'w90': (
    width: 90%
  ),
  'w95': (
    width: 95%
  ),
  'third': (
    width: calc(100% / 3)
  ),
  'two-thirds': (
    width: calc(100% * 2 / 3)
  ),
  'min-vw100': (
    min-width: 100vw
  ),
  'min-vh100': (
    min-height: 100vh
  ),
  'vw100': (
    width: 100vw
  ),
  'vh100': (
    height: 100vh
  ),
  'h25': (
    height: 25%
  ),
  'h50': (
    height: 50%
  ),
  'h75': (
    height: 75%
  )
);
